
body { 
	background-image: url('https://media.istockphoto.com/photos/abstract-blurry-background-with-smoke-3d-render-picture-id1169375665?k=6&m=1169375665&s=170667a&w=0&h=QtQO65vVWDJbFTuPZIknaD0glFi3QE_m0a2wNrrMR0Q=');
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    font-family: sans-serif;  
	
   }  
.espace{
	margin: 100px;
	padding: 20px;
    border: 2px dashed #fff;
    height: 90%;
    width: 85%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.espace button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #514F4F;
    color: white;
    border-radius: 5px;    
    cursor: pointer;
  }
.espace button:hover{
    background: white;
    color: #514F4F;
  }
.espace video{
    height: 50%;
    width: 70%;
    object-fit: cover;
    border-radius: 5px;
  }
.espace .active{
    border: 2px solid #fff;
  }
#conteur
{
	margin-left : 215px; 
	width: 900px;
}
#title1
{
 font-family:  cursive; 
 font-size: 80px;
}
header
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.P1
{
	border :0px;
	border-radius: 10px;
	width: 90px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
	color: white;
    
}
.P1:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.P2
{
	width: 10px;
    height: 50px;
    float: left;
    color: white;
}
.P3
{
	border :0px;
	border-radius: 10px;
	width: 140px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
	color: white;
}
.P3:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.P4
{
	width: 10px;
    height: 50px;
    float: left;
    color: white;
}
.P5
{
	border :0px;
	border-radius: 10px;
	width: 140px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
	color: white;
}
.P5:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.P6
{
	width: 10px;
    height: 50px;
    float: left;
    color: white;
}
.P7
{
	border :0px;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
	color: white;
}
.P7:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.P8
{
	width: 10px;
    height: 50px;
    float: left;
    color: white;
}
.P9
{
	border :0px;
	border-radius: 10px;
	width: 140px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
    color: white;
}
.P9:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.P10
{
	width: 10px;
    height: 50px;
    float: left;
    color: white;
}
.P11
{
	border :0px;
	border-radius: 10px;
	width: 140px;
	height: 50px;
	background-color: #514F4F;
	float: left;
	text-align: center;
	color: white;
}
.P11:hover{
	background-color: white;
	color: #514F4F;
	border: 3px solid #514F4F;
}
.w{
	font-weight: bold;
	margin-left: 40%;
	border :0px;
	border-radius: 20px;
	width: 270px;
	height: 35px;
	background-color: white;
	float: none;
	text-align: center;
	color: #514F4F;
	padding-top: 3px;
	padding-bottom: 10px;
	margin-top: 80px;
	
}
footer
{
	background-image: url('https://media.istockphoto.com/photos/abstract-blurry-background-with-smoke-3d-render-picture-id1169375665?k=6&m=1169375665&s=170667a&w=0&h=QtQO65vVWDJbFTuPZIknaD0glFi3QE_m0a2wNrrMR0Q=');  
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;
	width: 100%;
	height: 30%;
	text-align: center;
	color: white;
	clear: left;
	padding-top:20px; 
	margin-top: 10px;
	border-radius: 20px;
	display: inline-block;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.25);
}
